@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* App.css */
body {
  background-color: rgb(149, 143, 143);
}

/* ShowList.css */
.show-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show-card {
  width: 300px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.show-card:hover {
  box-shadow: 0px 0px 10px 0px #ddd;
  transition: box-shadow 0.3s ease-in-out;
}

.show-card img {
  width: 100%;
  height: auto;
}

.show-card h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #333;
}

.show-card p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  color: #666;
}

/* ShowDetail.css */
.show-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
}

.show-detail img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.show-detail h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
}

.show-detail p {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  color: #666;
}

.show-detail button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.show-detail button:hover {
  background-color: #666;
}



