


* {
  margin: 0;
}

.App {
  height: 100vh;
  padding-top: 20px;
  transition: background 0.5s ease-in;
  
}

body {
  width: 100vw;
}


img {
  height: 25px;

}

.filename-popup {
  position: fixed;
  top: 20%;
  /* left: 35vw; */

  max-width: 250px;
  background: rgba(223, 162, 162, 0.8); 

  backdrop-filter: blur(100px);
  padding: 30px 50px;
  box-shadow: 10px 10px 1px gray;
  font-size: large;
  /* transition: all 2s 1s ease-in; */

}

.filename-popup input {
  /* border: none; */
  outline: none;
  height: 40px;
  width: 300px;
  /* text-align: right; */
  border: 1px solid rgb(173, 172, 172);
  
}

.filename-popup button {
  position: absolute;
  top:30%;
  right: 13%;
  border: none;
  background: white;
  cursor: pointer;
  height: 20px;
  width: 20px;
  /* background: #000; */

}



.dictaphone {
  background: rgb(232,227,14);
background: linear-gradient(48deg, rgba(232,227,14,0.9940768543745623) 0%, rgba(140,114,223,1) 46%, rgba(231,226,194,1) 100%);

  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  min-height: 440px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.dictaphone div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* height: 50px; */
  width: 80%;
  align-self: center;
  color: rgb(181, 159, 159);
  gap: 5px;
  

}

.dictaphone div:first-child h3{
  /* background: #000; */
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-shadow: 2px 2px 2px #F6FAE8, 2px 2px 2px  #494A45, 2px 2px 2px #080807, 2px 2px 2px #080807;
}

.dictaphone div:first-child img {
  filter: invert(100%);
  height: 20px;
  margin-left: 2px;
}


.dictaphone div:first-child button {
  background: linear-gradient(to top right, green, rgb(7, 92, 7), rgb(18, 138, 18),rgb(11, 243, 11));
  border: none;
  border-radius: 15px;
  height: 40px;
  margin: 5px;
}

.dictaphone div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dictaphone div:last-child button {
  padding: 15px 40px;
  border: none;
}

.typewriter {
  background: rgb(155, 203, 219);

min-height: 300px;
width: 85%;
align-self: center;
margin: 10px;
color: white;
border-radius: 15px;
padding:  0px 10px;
padding-top: 10px;
}

.typewriter p::after {
  content: '...';
}



.action-btns {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  margin: 5px;
}

.action-btns:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.action-btns:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.action-btns:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}



.dark {
  background: #000;
 
}

#dark-mode-btn {
  border-radius: 50%;
  background: #f4f2f2;
  color: black;
  padding: 5px;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.dark #dark-mode-btn {
  background: #000;
  color: white;
  
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.dark-phone {
  background: #63625f;
}

.dark-phone .typewriter {
  background: #6b6b6a;
}

.dark-phone .filename-popup {
  background: rgb(82, 72, 72);
}